<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.extend.SurveyVMMapper">
  <select id="selectByStatus"
   parameterType="java.lang.String"
   resultMap="SurveyVMResultMap">
   select* from poll_survey where status=#{status}</select>
   
  <select id="selectById"
  parameterType="long"
   resultMap="SurveyVMResultMap">  
  	select * from poll_survey where id=#{id}
  	<!-- id status code surveyDate course_id -->
  </select>
  
  <select id="selectAll" resultMap="SurveyVMResultMap">
  select * from poll_survey
  </select>
<!-- 将查询后的结果映射为SurveyVM -->  
  <resultMap type="com.briup.apps.poll.bean.extend.SurveyVM" 
  id="SurveyVMResultMap">
  <id column="id" property="id"/> 
  <result column="average" property="average"/> 
  <result column="code" property="code"/>
  <result column="surveyDate" property="surveydate"/> 
  <result column="status" property="status"/> 
  <association property="course" column="course_id"
  select="com.briup.apps.poll.dao.CourseMapper.selectByPrimaryKey"
  ></association>
  
  <association property="teacher" column="user_id"
  select="com.briup.apps.poll.dao.UserMapper.selectByPrimaryKey"
  ></association>
 <!--  这个没写查询全部
  <association property="qnVM" column="questionnaire_id"
  select="com.briup.apps.poll.dao.extend.QuestionnaireVMMapper."
  ></association>

  <association property="clazzVM" column="clazz_id"
  select="com.briup.apps.poll.dao.extend.ClazzVMMapper.selectClazzvmById"
  ></association>
  三个地方，clazzvmmpper.xml////clazzvmmpper.java///这个
    -->
  </resultMap>  	
</mapper>





